 @import url('https://fonts.googleapis.com/css?family=Baskervville:400,400i&display=swap');

 * {
     box-sizing: border-box;
 }

 img {
     max-width: 100%;
 }

 body {
     padding: 0;
     margin: 0;
     overflow-y: scroll;
     font-family: 'baskervville', serif;
 }

 .container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-column-gap: 1%;
     overflow: hidden;
 }

 .container div {
     display: grid;
     place-items: center;
 }

 .left {
     transform: translateY(-100vh);
     animation: slidedown-anim 1.5s ease-in-out both;
     background-color: #d3bbaf;
     height: 100vh;
 }

 .left p {
     /*font-family: 'baskervville', serif;*/
     font-size: 60px;

 }

 @keyframes slidedown-anim {
     100% {
         transform: translateY(0);
     }
 }

 /* Button content*/



 .left p,
 .paint {
     animation: buttonleft-anim 3s;
     text-align: center;
     opacity: 1;
     /*transform: matrix(1, 0, 0, 1, 0, 0);*/
 }

 @keyframes buttonleft-anim {
     0% {
         opacity: 0;
     }

     50% {
         opacity: 0;
     }

     55% {
         opacity: 0.1;
     }

     60% {
         opacity: 0.2;
     }

     65% {
         opacity: 0.3;
     }

     70% {
         opacity: 0.4;
     }

     75% {
         opacity: 0.5;
     }

     80% {
         opacity: 0.6;
     }

     85% {
         opacity: 0.7;
     }

     90% {
         opacity: 0.8;
     }

     95% {
         opacity: 0.9;
     }

     100% {
         opacity: 1;
     }
 }



 .right p {
     /*animation: buttonright-anim 4.5s ease-in-out both;*/
     text-align: center;
     opacity: 1;
     transform: matrix(1, 0, 0, 1, 0, 0);
     /*transform: translate(10px, 6px);
     margin: 0 0 -6px -10px;*/
 }


 @keyframes buttonright-anim {
     100% {
         transform: translateX(0);
     }

     0% {
         transform: translateX(100vh);
     }
 }


 /* Diana content*/
 .right {
     animation: slideup-anim 1.5s ease-in-out both;
     background-color: #f0edec;
 }

 @keyframes slideup-anim {
     0% {
         transform: translateY(100vh);
     }

     100% {
         transform: translateY(0);
     }
 }

 /* Gallery content*/
 .content {
     animation: slideright-anim 4.5s ease-in-out both;
     text-align: center;
 }

 @keyframes slideright-anim {
     100% {
         transform: translateX(0);
     }

     0% {
         transform: translateX(100vh);
     }
 }

 .arrow-top-left {
     width: 70px;
     position: fixed;
     z-index: 100;
     top: 0;
     left: 0;
 }

 .arrow-top-right {
     width: 70px;
     position: fixed;
     text-align: right;
     top: 0;
     right: 0;
     /*margin: -20px;
     margin-left: 640px;*/
     padding: 0;
 }

 #page2 {
     background-color: #138762;
 }
